In [25]:
input_string = input()

4R#LVX3GHC*

In [26]:
input_string

'4R#LVX3GHC*'

In [27]:
digits = str("0 1 2 3 4 5 6 7 8 9").split()
op = str()
nums = []
for ch in input_string:
    if ch == "+" or ch == "*":
        op = ch
    elif ch in digits:
        nums.append(int(ch))

In [28]:
op

'*'

In [29]:
nums

[4, 3]

In [13]:
d

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [34]:
d = []

In [35]:
for i in d:
    print(1)

In [40]:
def find_even(*args):
    result = []
    for i in args:
        if i % 2 == 0:
            result.append(i)
    if len(result) == 0:
        result = "Not found"
    return result

In [33]:
st = [int(i) for i in input().split()]

20 7 9 24 21

In [34]:
st

[20, 7, 9, 24, 21]

In [3]:
def digital_concat(n, k):
    result = 0
    f = [int(n*(i+1)) for i in range(k)]
    for num in f:
        result += num
    return result

In [6]:
digital_concat("61", 4)

62238544

In [10]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt

x = np.linspace(0, 10, 100)

linestyles = [':', '--', '-.', '-']
deg_of_freedom = [1, 4, 7, 6]

In [11]:
stats.chi2.pdf(x, df)

array([0.        , 0.00060628, 0.00230569, 0.00493231, 0.00833668,
       0.01238452, 0.01695539, 0.02194155, 0.0272469 , 0.03278597,
       0.03848301, 0.0442711 , 0.05009142, 0.05589249, 0.06162952,
       0.06726377, 0.07276199, 0.07809592, 0.0832418 , 0.0881799 ,
       0.09289414, 0.09737172, 0.10160277, 0.10558004, 0.10929859,
       0.11275558, 0.11594997, 0.11888236, 0.12155473, 0.12397033,
       0.12613343, 0.12804924, 0.12972376, 0.13116361, 0.132376  ,
       0.13336856, 0.13414927, 0.13472639, 0.1351084 , 0.1353039 ,
       0.13532157, 0.13517012, 0.13485824, 0.13439458, 0.13378768,
       0.13304598, 0.13217774, 0.13119108, 0.13009392, 0.12889397,
       0.12759874, 0.1262155 , 0.12475126, 0.12321283, 0.12160674,
       0.11993928, 0.11821649, 0.11644414, 0.11462777, 0.11277266,
       0.11088384, 0.10896609, 0.10702395, 0.10506175, 0.10308357,
       0.10109324, 0.09909443, 0.09709054, 0.09508479, 0.09308021,
       0.09107961, 0.08908565, 0.08710076, 0.08512725, 0.08316724,
       0.08122268, 0.07929538, 0.07738701, 0.0754991 , 0.07363303,
       0.07179008, 0.06997138, 0.06817796, 0.06641076, 0.06467058,
       0.06295815, 0.0612741 , 0.05961897, 0.05799323, 0.05639724,
       0.05483134, 0.05329574, 0.05179065, 0.05031616, 0.04887235,
       0.04745923, 0.04607675, 0.04472484, 0.04340337, 0.04211217])

In [27]:
def bank(money, years, interest):
    result = money * ((1 + interest/1200) ** (12 * years))
    return int(result)

In [31]:
bank(300000, 1, 1.8)

305444

In [32]:
M, Y, I = float(input())

10

TypeError: cannot unpack non-iterable float object